<div class="contenedor">
    <span class="title mb-5 mt-3">Tu saldo disponible para retiro es:</span>
    <span class="login-header mb-5 mt-3">$0</span>
    <form class="login-form align-items-center" fxLayout="column">
        <mat-form-field>
            <mat-label class="logo">Monto</mat-label>
            <input matInput placeholder="Ingresa monto a depositar" type="text">

        </mat-form-field>
        <div class="mt-3">
            <button mat-flat-button color="primary" type="submit">Depositar</button>
        </div>
    </form>
</div>