<div class="container-fluid mt-5"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="0"
     fxLayoutGap.xs="0">
  <div class="login-card mat-elevation-z8 mb-5" fxFlex="45%">
    <img class="logo-login" src="https://web.bancoripley.cl/logo-bancoripley.5860169353c9e41d5bcf.svg">
    <main class="login-content"
          fxLayout="column"
          fxLayoutAlign="center center">
      <span class="login-welcome">Bienvenido</span>
      <span class="login-header mb-5 mt-3">Crea tu cuenta</span>
      <!-- login form -->
      <form [formGroup]="form" class="login-form align-items-center" fxLayout="column" (ngSubmit)="registro($event)">

        <mat-form-field appearance="outline" class="width-register">
          <mat-label class="logo">Nombre</mat-label>
          <input matInput placeholder="Ingresa tu Nombre" type="text" formControlName='nombre'>
          <mat-icon matPrefix>portrait</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-register">
          <mat-label>RUT</mat-label>
          <input matInput placeholder="Ingresa tu RUT" type="text" formControlName='rut'>
          <mat-icon matPrefix>lock_outline</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="width-register">
            <mat-label>Correo</mat-label>
            <input matInput placeholder="Ingresa tu clave" type="email" formControlName='correo'>
            <mat-icon matPrefix>lock_outline</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline" class="width-register">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Ingresa tu clave" type="password" formControlName='password'>
            <mat-icon matPrefix>lock_outline</mat-icon>
          </mat-form-field>

        <div class="mt-3">
          <button mat-flat-button color="primary" type="submit">Volver</button>
          <button mat-flat-button color="primary" type="submit">Aceptar</button>
        </div>

      </form>
    </main>

 

  </div> 
  <div class="login-card login-content mat-elevation-z8" 
          fxFlex=45%
          fxLayout="column"
          fxLayoutAlign="end start"
          [ngStyle]="unsplashClass()">
  </div>
</div>
<router-outlet></router-outlet>
